@import '~antd/dist/antd.css';

.dashboard {
    height: 100%;

    .ant-select-selection {
        min-width: 100px;
    }

    .ant-input-group-addon:last-child > div {
        width: auto !important;
    }

    .ant-form-item-children-icon {
        right: 100px !important;
    }

    &__left {
    }
}

.ant-input-group > .ant-input:last-child,
.ant-input-group-addon:last-child {
    width: auto;
}
